html, body {
  margin: 0;
  padding: 0;
}

/* Hide elements until Cufon is finished */
/*.cufon-loading {
  visibility: hidden !important;
}
*/

@font-face {
  font-family: 'Museo900';
  src: url('../fonts/museo900-regular-webfont.eot');
  src: local('☺'), url('../fonts/museo900-regular-webfont.woff') format('woff'), url('../../fonts/museo900-regular-webfont.ttf') format('truetype'), url('../../fonts/museo900-regular-webfont.svg#webfontSQDO5qlE') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo500';
  src: url('../fonts/museo500-regular-webfont.eot');
  src: local('☺'), url('../fonts/museo500-regular-webfont.woff') format('woff'), url('../../fonts/museo500-regular-webfont.ttf') format('truetype'), url('../../fonts/museo500-regular-webfont.svg#webfontx4kGfD6k') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo700';
  src: url('../fonts/museo700-regular-webfont.eot');
  src: local('☺'), url('../fonts/museo700-regular-webfont.woff') format('woff'), url('../../fonts/museo700-regular-webfont.ttf') format('truetype'), url('../../fonts/museo700-regular-webfont.svg#webfont7ETxGWjE') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo100';
  src: url('../fonts/museo100-regular-webfont.eot');
  src: local('☺'), url('../fonts/museo100-regular-webfont.woff') format('woff'), url('../../fonts/museo100-regular-webfont.ttf') format('truetype'), url('../../fonts/museo100-regular-webfont.svg#webfonthgmhtstv') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo300';
  src: url('../fonts/museo300-regular-webfont.eot');
  src: local('☺'), url('../fonts/museo300-regular-webfont.woff') format('woff'), url('../../fonts/museo300-regular-webfont.ttf') format('truetype'), url('../../fonts/museo300-regular-webfont.svg#webfontpW5kSrSo') format('svg');
  font-weight: normal;
  font-style: normal;
}


body { 
  background: #dbdbdb; 
  color: #2d211c;
  font-size: 13px;
  line-height: 15px;
}

body, p, ol, ul, td {
  font-family: 'Museo300', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Tahoma', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

p {
  padding-top: 10px;
  line-height: 1.5;
}

a { 
  color: #cc5229; 
  text-decoration: none;
}

a:visited { 
  color: #cc5229; 
}

a:hover { 
  text-decoration: underline;
  color: #cc5229; 
}

a.plus { 
  padding-left: 18px;
  background: transparent url('../images/style/blue_circle_with_plus.png') center left no-repeat;
}

a.external { 
  padding-right: 13px;
  background: transparent url('../images/style/external_link.png') center right no-repeat;
}

.jsLink { 
  color: #cc5229; 
  text-decoration: none;
  cursor: pointer;
}

.jsLink:hover { 
  text-decoration: underline;
}

.buttonize,
a.buttonize {
  color: #fff;
  font-size: 28px;
  line-height: 62px;
  font-weight: bold;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Tahoma', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  margin-top: 10px;
  padding: 14px 16px 14px 16px;
  background: #3d5c99;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.buttonize:hover,
.buttonize:active,
a.buttonize:hover,
a.buttonize:active {
  background: #5977b2;
  text-decoration: none;
}

.linkArea {
  display: block;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: #b8ced9;
}

.linkArea:hover {
  background: #bdd3de;
  text-decoration: none;
}

h1 {
  color: #000;
  font-family: 'Museo900', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 33px;
  line-height: normal;
  font-weight: normal;
}

h2 {
  color: #666;
  font-family: 'Museo500', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 21px;
  line-height: normal;
}

h3 {
  color: #5D0B0B;
  font-family: 'Museo300', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Tahoma', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  line-height: normal;
  font-weight: normal;
}

h4 {
  color: #5D0B0B;
  font-family: 'Museo300', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Tahoma', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  line-height: normal;
  font-weight: normal;
}

.finePrint {
  font-size: 12px;
  line-height: 15px;
}

/* List Styles */
ul {
  overflow: hidden;
}

li {
}

li.last {
  margin-right: 0;
}

/* Table Styles */
table {
  width: 100%;
}

table th, 
table td {
  padding: 4px 10px 4px 10px;
  text-align: left;
  font-weight: normal;
}

table thead th {
  background-color: #666;
  color: #fff;
  font-weight: bold;
  text-shadow: #333 0 -1px 0;
}

table .shade {
  background-color: lightgrey;
}

/* Box styles */
.body .window {
  padding: 50px 75px;
}

.page {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}