<footer role="contentinfo">
  <div class="container">
    <nav>
      <ul>
        <li><a href="/events">Events</a></li>
        <li><a href="/learnruby">Learn Ruby</a></li>
        <li><a href="/videos">Videos</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/milist">Mailing list</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/companies">Companies</a></li>
        <li><a href="/jobs">Jobs</a></li>
      </ul>
    </nav>
    <div class="copy">
      <a href="/"><img src="/images/logo.png"></a>
      <p>Indonesian Ruby Users Group</p>
      <small>Copyright © 2012. All Rights Reserved</small>
    </div>
  </div>
</footer>
<!-- footer -->
<!-- vim: set ft=liquid: -->
