<header role="banner">
  <div class="container">
    <div class="top-menu">
      <p>Indonesian Ruby Users Group</p>
      <nav class="top-nav">
        <ul>
          <li><a href="/articles">Articles</a></li>
          <li><a href="/milist">Mailling List</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/companies">Companies</a></li>
          <li><a href="/jobs">Jobs</a></li>
        </ul>
      </nav>
    </div>
    <div class="logo logo--website">
      <a href="/" title="Jump to the homepage"><img src="/images/logo.png"></a>
    </div>
    <nav role="navigation">
      <ul>
        <li><a href="/events">Events</a></li>
        <li><a href="/coba-ruby">Learn Ruby</a></li>
        <li><a href="/videos">Videos</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <form class="global-search" method="get" action="/search">
      <input type="text" name="query" placeholder="Search">
      <input class="form-btn" type="submit" value="Search">
    </form>
  </div>
</header>
<!-- header -->
<!-- vim: set ft=liquid: -->
