<aside class="secondary">
  <div class="videos">
    <header>
      <h2>Videos</h2>
      <a href="/videos">More</a>
    </header>
    {{ site.categories.videos.first.smaller }}
  </div>
  <div class="jobs">
    <header>
      <h2>Jobs</h2>
      <a href="/jobs">More</a>
    </header>
    <ul>
      <li>
        <hgroup>
          <h3>Ruby Developer</h3>
          <h4>PT. Kreasi Online Indonesia</h4>
        </hgroup>
        <p>Skills: microsoft sql server, framework php zend atau codeigniter, jquery, ExtJs, JavaScrip...</p>
      </li>
      <li>
        <hgroup>
          <h3>Ruby Developer</h3>
          <h4>PT. Kreasi Online Indonesia</h4>
        </hgroup>
        <p>Skills: microsoft sql server, framework php zend atau codeigniter, jquery, ExtJs, JavaScrip...</p>
      </li>
      <li>
        <hgroup>
          <h3>Ruby Developer</h3>
          <h4>PT. Kreasi Online Indonesia</h4>
        </hgroup>
        <p>Skills: microsoft sql server, framework php zend atau codeigniter, jquery, ExtJs, JavaScrip...</p>
      </li>
    </ul>
  </div>
  <div class="tags">
    <header>
      <h2>Tags</h2>
      <a href="#">More</a>
    </header>
    <img src="/images/bg-tag-dummy.png">
  </div>
  <div class="tweets">
    <header>
      <h2>Twitter</h2>
      <a href="https://twitter.com/#!/search/id-ruby">More</a>
    </header>
    {% include twitter.html %}
  </div>
</aside>
<!-- secondary -->
<!-- vim: set ft=liquid: -->
