<aside class="secondary">
  <div class="videos">
    <header>
      <h2>Videos</h2>
      <a href="/videos">More</a>
    </header>
    {{ site.categories.videos.first.smaller }}
  </div>
  <div class="tweets">
    <header>
      <h2>Twitter</h2>
      <a href="https://twitter.com/#!/search/id-ruby">More</a>
    </header>
    {% include twitter.html %}
  </div>
  <div class="jobs">
    <header>
      <h2>Jobs</h2>
      <a href="/jobs">More</a>
    </header>
    <ul>
      <li>
        <hgroup>
          <h3>Job Title</h3>
          <h4>Company Name</h4>
        </hgroup>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </li>
      <li>
        <hgroup>
          <h3>Job Title</h3>
          <h4>Company Name</h4>
        </hgroup>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </li>
      <li>
        <hgroup>
          <h3>Job Title</h3>
          <h4>Company Name</h4>
        </hgroup>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </li>
    </ul>
  </div>
</aside>
<!-- secondary -->
<!-- vim: set ft=liquid: -->
