/*******************************************************************************

	Title: ID Ruby
	Date: January 2012
	Author: Suitmedia (http://www.suitmedia.com)

********************************************************************************

/* Clearfix */
.clearfix,
.container,
.top-menu,
.top-nav,
#content,
.post-meta,
.pagination,
.post-preview,
.secondary header,
.comments,
.author-meta,
.comments li, 
.comments-form p,
.filter,
.entry li,
.entry-post,
.upcoming header,
.upcoming .entry-post,
.past .preview-event,
footer[role="contentinfo"] nav { zoom: 1; }


/* Content
------------------------------------------------------------------------------*/

.image-post img {
	width: 100%;
}

.upcoming header .date {
	margin: 0 1.6953321364452424% 0 0; /* 10/557 */
}

.past .date {
	margin: 0 1.6953321364452424% 0 0;
}