<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} => ID Ruby</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link rel="Shortcut Icon" type="image/ico" href="img/favicon.png" />
    <link rel="stylesheet" media="all" href="/css/main.css" />
    <link rel="stylesheet" media="all" href="/css/syntax.css" />
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 7]>
      <link rel="stylesheet" media="all" href="/css/ie.css" />
    <![endif]-->
    <!--[if (lt IE 9) & (!IEMobile)]>
      <script src="js/imgsizer.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include header.html %}
    {% include content.html %}
    {% include footer.html %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/js/jquery-tapir.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/respond.min.js"></script>
    <script src="/js/ga.js"></script>
  </body>
</html>
