<!DOCTYPE html>
<html>
<head>
  <title>id-ruby - {{ page.title }}</title>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="expires" content="0">
  <meta name="description" content="id-ruby" />
  <meta name="keywords" content="ruby, indonesia, community, komunitas, programmer" />
  <meta name="author" content="id-ruby" />
  <link href="http://www.id-ruby.org/atom.xml" rel="alternate" title="id-ruby" type="application/atom+xml" />
</head>
<body>
{% include header.html %}
{% include secondary_links.html %}
{{ content }}
{% include footer.html %}
</body>
</html>
